{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aws:iam::381491827632:user/roboshop"
      },
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::{{ bucket_name }}-{{ env }}/*"
    }
  ]
}
